/*新建,保存,另存为的样式*/
.button1 {
    background-color: 	#D2691E; /* Green */
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 3px;
    outline:none;
    cursor: pointer;
    }
    
    .button2 {
    background-color:#eca127; 
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3px;
    outline:none;
    cursor: pointer;
    }
    
    .button3 {
    background-color:#eca127; 
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3px;
    margin-left: 3px;
    outline:none;
    cursor: pointer;
    }
    
    .button2:hover,.button3:hover{
    background-color:#f7de82; 
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    }

    .button4 {
    background-color:#9663d4; 
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 3px;
    outline:none;
    cursor: pointer;
    }
    
 .button5 {
    background-color:#9f9eae; 
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 3px;
    outline:none;
    cursor: pointer;
    }
.paint{
	width: 20px;
	margin-right: 10px;
	margin-top: 15px;
	margin-left: 6px;
	cursor: pointer;
}

/* 柯锋添加样式 */
.btn{
    position: absolute;
    bottom: 50px;
    left: 50%; 
}

.btn button{
    color: white;
    background-color: #333;
    border: none;
    padding: 10px 20px;
}
